{{#each streams}}
    <div>
        <input id="stream_{{@index}}" type="checkbox">
        <label for="stream_{{@index}}">
            <h3>
                {{this.name}}
                <small>by {{this.author.username}}</small>
            </h3>
            <p>Funny stream containing movie mistakes</p>
        </label>
    </div>
{{else}}
    <div>
        <p>Unfortunately no streams are available.</p>
    </div>
{{/each}}
