{{#each movies}}
<div data-movie-url="{{ this.href }}" class="search-result-movie">
    {{#if this.cover_img }}
        <div class="pull-left movie-cover-art col-xs-2" style="background-image:url({{ this.cover_img }})">
        </div>
        <div class="movie-title col-xs-8">
    {{else}}
        <div class="movie-title col-xs-10">
    {{/if}}
        <span>
            {{ this.title }} ({{ this.year }})
        </span>
    </div>

    <div class="pull-right col-xs-2 movie-stream-count">
        <span>
            {{ this.number_of_streams }}
        </span>
    </div>
</div>
{{/each}}
