{{#if streams}}
    {{#each streams}}
        <div data-movie-url="{{ this.href }}" class="search-result-movie your_stream">
            <h2>{{stream_title}}</h2>
            <h3>Movie: {{movie_title}}</h3>
            <div class="actions">
                {{#if is_published}}
                    <button class="btn btn-success"><i class="fa fa-arrow-circle-up"></i> Publish</button>
                {{else}}
                    <button class="btn btn-warning"><i class="fa fa-arrow-circle-down"></i> Unpublish</button>
                {{/if}}
                <button class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</button>
            </div>
        </div>
    {{/each}}
{{else}}
    <p>You don't currently have any streams.</p>
{{/if}}
